<% include partials/header %>
<div class="slider">
    <ul class="slides">
        <li>
            <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
            <div class="caption center-align">
                <h3>Welcome to Yelp Camp!</h3>
                <h5 class="light grey-text text-lighten-3">reviews, comments and more!</h5>
            </div>
        </li>
        <li>
            <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
            <div class="caption left-align">
                <h3>Welcome to Yelp Camp!</h3>
                <h5 class="light grey-text text-lighten-3">find a campsite for you!</h5>
            </div>
        </li>
        <li>
            <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
            <div class="caption right-align">
                <h3>Welcome to Yelp Camp!</h3>
                <h5 class="light grey-text text-lighten-3">start planning your camping trip now!</h5>
            </div>
        </li>
        <li>
            <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
            <div class="caption center-align">
                <h3>Welcome to Yelp Camp!</h3>
                <h5 class="light grey-text text-lighten-3">seriously this page is boring</h5>
            </div>
        </li>
    </ul>
</div>
<a href="/campgrounds">View All Campgrounds</a>

<% include partials/footer %>